<div class="hotspot-bg palm-body-text">
    <div class="location-text">You must turn on both GPS and Google Services to use this app, or you can enter an address manually by selecting "Enter Address" in the app menu.</div>
    <img id="icon" src="images/location_services_icon.png" />
    <div id="location-icon-text">Location Services can be managed using the Location Services preference app.</div>
    <div class="location-text">Enabling GPS and Google Services can be done in the menu of the app. If they are both checked and you still get this message, try turning them both off and then back on to see if that solves the issue. (You will also need to restart this app.)</div>
    <img id="prefs" src="images/location_services_prefs.png" />
</div>
